{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Kontakt{% endblock %}
{% block kontakt %}active{% endblock %}

{% block content %}
<div id="content"><div class="ic"></div>
<div class="container">
      <div class="row">
    <article class="span12">
    <h3>Galerii - Üritused</h3>
    </article>
    <div class="clear"></div>
     <ul class="portfolio clearfix">
      <li class="box"><a href="{% static 'img/gallery/events/1.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/events/1-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/events/2.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/events/2-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/events/3.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/events/3-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/events/4.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/events/4-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/events/5.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/events/5-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/events/6.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/events/6-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/events/7.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/events/7-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/events/8.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/events/8-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/events/9.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/events/9-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/events/10.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/events/10-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/events/11.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/events/11-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/events/12.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/events/12-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/events/13.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/events/13-thumbn.jpg' %}" ></a></li>
    </ul>
    <article class="span12">
    <h3>Galerii - Pildistamine</h3>
     </article>
    <div class="clear"></div>
     <ul class="portfolio clearfix">
      <li class="box"><a href="{% static 'img/gallery/photoshoots/1.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/photoshoots/1-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/photoshoots/2.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/photoshoots/2-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/photoshoots/3.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/photoshoots/3-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/photoshoots/4.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/photoshoots/4-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/photoshoots/5.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/photoshoots/5-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/photoshoots/6.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/photoshoots/6-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/photoshoots/7.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/photoshoots/7-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/photoshoots/8.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/photoshoots/8-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/photoshoots/9.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/photoshoots/9-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/photoshoots/10.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/photoshoots/10-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/photoshoots/11.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/photoshoots/11-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/photoshoots/12.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/photoshoots/12-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/photoshoots/13.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/photoshoots/13-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/photoshoots/14.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/photoshoots/14-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/photoshoots/15.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/photoshoots/15-thumbn.jpg' %}" ></a></li>
      <li class="box"><a href="{% static 'img/gallery/photoshoots/16.jpg' %}" class="magnifier" ><img alt="" src="{% static 'img/gallery/photoshoots/16-thumbn.jpg' %}" ></a></li>
    </ul>
  </div>
    </div>
</div>
</div>
{% endblock %}