<div id="content"><div class="ic"></div>
    <div class="container">
        <div class="row">
        <article class="span12">
            <h3>{{ entry.title }}</h3>
            <p class="subheader">
                <time>{{ entry.modified_at|date }} by {{ entry.author}}</time>
            </p>
            {{ entry.body|safe|urlize|linebreaks|truncatewords:100 }}
            <p>
                <a href="{{ entry.get_absolute_url }}">Loe edasi</a>
            </p>
        </article>
        </div>
    </div>
</div>