{% extends "services-base.html" %}
{% load staticfiles %}

{% block uritused %}selected-service{% endblock %}

{% block details %}
<div class="row-1">
      <div class="services-details">
        <div class="container">
          <div class="row">
            <div class="span12">
              <span id="responsiveFlag"></span>
              <div class="block-slogan">
                <h2>Üritused</h2>
                <div>
                  <p>Vaid viie minuti jalutuskäigu kaugusel Tallinna vanalinnast, on Teil võimalik meie ruumides pidada üks
                      meeldejääv pidu, sünnipäev, tüdrukuteõhtu või muu üritus.</p>
                  <p>&nbsp;</p>
                  <p>Ruumid mahutavad mugavalt kuni 20 inimest.</p>
                  <p>&nbsp;</p>
                  <p>Kõik allolevad paketid sisaldavad endas ruumide renti kuni 5 tundi ning tervitusjooki ja suupisteid.
                  <p>&nbsp;</p>
                  <p>Paketi hinnad kehtivad kuni 10’le inimesele, kuid kui sinu seltskonna suurus või ürituse kestus erineb
                      märkimisväärselt paketis mainitule, võta meiega ühendust aadressil <a href="mailto:sirli@dwlagentuur.ee" class="mail-1">info@dwlagentuur.ee</a> ja küsi
                      hinnapakkumist!</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p class="small-title">Pakett 1 – 180€ (hind sisaldab käibemaksu)</p>
                  <p>&nbsp;</p>
                  <p>Paketti kuulub: </p>
                  <p class="bullet-list">&middot;&nbsp;Ruumide rent kuni 5h</p>
                  <p class="bullet-list">&middot;&nbsp;Tervistusjook</p>
                  <p class="bullet-list">&middot;&nbsp;Suupisted</p>
                  <p class="bullet-list">&middot;&nbsp;Magus üllatus kõigile osalistele</p>
                  <p>&nbsp;</p>
                  <p>Paketi hind kehtib kuni 10’le inimesele. Iga lisanduv inimene +15€ </p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p class="small-title">Pakett 2 – 270€ (hind sisaldab käibemaksu)</p>
                  <p>&nbsp;</p>
                  <p>Paketti kuulub: </p>
                  <p class="bullet-list">&middot;&nbsp;Ruumide rent kuni 5h</p>
                  <p class="bullet-list">&middot;&nbsp;Tervistusjook</p>
                  <p class="bullet-list">&middot;&nbsp;Suupisted</p>
                  <p class="bullet-list">&middot;&nbsp;Magus üllatus kõigile osalistele</p>
                  <p class="bullet-list">&middot;&nbsp;Fotojäädvustusi kuni 6h ulatuses (lisa pildid soovi korral väljas enne või peale peo algust)</p>
                  <p>&nbsp;</p>
                  <p>Paketi hind kehtib kuni 10’le inimesele. Iga lisanduv inimene +15€ </p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p class="small-title">Pakett 3 – 350€ (hind sisaldab käibemaksu)</p>
                  <p>&nbsp;</p>
                  <p>Paketti kuulub: </p><p class="bullet-list">&middot;&nbsp;Ruumide rent kuni 5h</p>
                  <p class="bullet-list">&middot;&nbsp;Tervistusjook</p>
                  <p class="bullet-list">&middot;&nbsp;Suupisted</p>
                  <p class="bullet-list">&middot;&nbsp;Magus üllatus kõigile osalistele</p>
                  <p class="bullet-list">&middot;&nbsp;Fotojäädvustusi kuni 6h ulatuses (lisa pildid soovi korral väljas enne või peale peo algust)</p>
                  <p class="bullet-list">&middot;&nbsp;Stilist, meigikunstnik, juuksur, postitantsija kuni 1,5h – vabal valikul üks nimekirjast </p>
                  <p>&nbsp;</p>
                  <p>Paketi hind kehtib kuni 10’le inimesele. Iga lisanduv inimene +15€ </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}