{% extends "services-base.html" %}
{% load staticfiles %}

{% block details %}
<div class="row-1">
  <div class="services-details">
    <div class="container">
      <div class="row">
        <div class="span12">
          <span id="responsiveFlag"></span>
          <div class="block-slogan">
            <h2>Pildistamine</h2>
            <div>
              <p>Sobiva fotopaketi valikuks, aja broneerimiseks ja muude küsimuste korral võtke ühendust:</p>
              <p>&nbsp;</p>
              <p>Telefon: +372 77 65 016</p>
              <p>E-mail: <a href="mailto:sirli@dwlagentuur.ee" class="mail-1">info@dwlagentuur.ee</a></p>
               <p>&nbsp;</p>
              <p>*kõik hinnad sisaldavad käibemaksu</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p class="underline bold">FOTOPAKETID kodus, looduses või mujal valitud kohas Tallinna piires:</p>
              <p>&nbsp;</p>
              <p class="small-title">30 minutit – HIND 50€ </p>
              <p>&nbsp;</p>
              <p>Sobib lühikeseks portreesessiooniks neile, kellel on kindel nägemus soovitust või üksiku grupifoto
                jäädvustamiseks. </p>
              <p>&nbsp;</p>
              <p class="small-title">60 minutit – HIND 90€ </p>
               <p>&nbsp;</p>
              <p>Sobib pikemaks portreesessiooniks, paarile, beebiootel paarile või kuni 5-liikmelisele perele.</p>
              <p>&nbsp;</p>
              <p class="small-title">90 minutit – HIND 120€</p>
               <p>&nbsp;</p>
              <p>Sobib kuni 5-liikmelisele perele, väiksemale või suuremale grupile sõpradega, beebiootel paarile
                pikemaks sessiooniks jne. </p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p class="underline bold">FOTOPAKETID stuudios:</p>
              <p>&nbsp;</p>
              <p class="small-title">30 minutit – HIND 70€</p>
              <p>&nbsp;</p>
              <p class="small-title">60 minutit – HIND 100€</p>
              <p>&nbsp;</p>
              <p class="small-title">90 minutit – HIND 150€</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>Fotosessioonid sisaldavad: </p>
              <p class="bullet-list">&middot;&nbsp;Konsultatsiooni fotograafiga, ideede-mõtete-soovide läbirääkimine</p>
              <p class="bullet-list">&middot;&nbsp;Fotograafi nõuandeid</p>
              <p class="bullet-list">&middot;&nbsp;Fotosessiooni vastavalt valitud paketile</p>
              <p class="bullet-list">&middot;&nbsp;Pildifailide töötlust</p>
              <p class="bullet-list">&middot;&nbsp;DVD plaati väljaprindiks sobivate JPG-failidega (80-120 fotot)</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p class="small-title">Ürituste pildistamine – esimene tund 55€ + iga järgnev tund 30€ </p>
               <p>&nbsp;</p>
              <p>Fotograaf jäädvustab reportaaž-ülevaate üritusel toimuvast. Lisaks illustreerivaid pilte detailidest ja
                  õhustikust, mis annavad hästi edasi ürituse iseloomu ja emotsiooni. </p>
                   <p>&nbsp;</p>
              <p>Ürituste pildistamine sisaldab: </p>
              <p class="bullet-list">&middot;&nbsp;Konsultatsiooni fotograafiga, ideede-mõtete-soovide läbirääkimine </p>
              <p class="bullet-list">&middot;&nbsp;Fotograafi nõuandeid ja inimeste kaasamine üritusel</p>
              <p class="bullet-list">&middot;&nbsp;Kergemat pildifailide töötlust</p>
              <p class="bullet-list">&middot;&nbsp;DVD plaati väljaprindiks sobivate JPG-failidega</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}