{% extends "services-base.html" %}
{% load staticfiles %}

{% block pr_teenused %}selected-service{% endblock %}

{% block details %}
<div class="row-1">
  <div class="services-details">
    <div class="container">
      <div class="row">
        <div class="span12">
          <span id="responsiveFlag"></span>
          <div class="block-slogan">
            <h2>PR teenused</h2>
            <div>
              <p>Kui pressiteadete kirjutamine ja väljasaatmine valmistab Teile peavalu, Te ei tea täpselt kuidas ja
                  mida sotsiaalmeedias edastada või soovite oma toodet/teenust reklaamida, kuid seni pole oma
                  püüdlused vilja kandnud, sellisel juhul olete õiges kohas! </p>
              <p>&nbsp;</p>
              <p class="small-title">Pressiteade – 100€</p>
              <p >&nbsp;</p>
              <p class="small-title">Pressiteate väljasaatmine – 25€ </p>
              <p>&nbsp;</p>
              <p class="small-title">Meedia- ja kommunikatsioonikonsultatsioonid alates 65.00€ </p>
              <p>&nbsp;</p>
              <p>Küsige julgelt ka hinnapakkumist!</p>
              <p><a href="mailto:sirli@dwlagentuur.ee" class="mail-1">info@dwlagentuur.ee</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}