{% extends "services-base.html" %}
{% load staticfiles %}

{% block details %}

    <div class="row-1">
      <div class="services-details">
        <div class="container">
          <div class="row">
            <div class="span12">
              <span id="responsiveFlag"></span>
              <div class="block-slogan">
              <br/>
                <h2>Tere tulemast!</h2>
                <div>
                  <p>DWL Agentuur ehk Days Worth Living Agency on Eesti kapitalil põhinev ettevõte, mis pakub erinevaid
                    teenuseid nii eraisikutele kui ettevõtetele. </p>
                    <p><br/></p>
                  <p>Teenuste kohta saad rohkem infot vastavatest rubriikidest – Üritused, Pildistamine, Stilistika ja PR
                      teenused! </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}