{% extends "services-base.html" %}
{% load staticfiles %}

{% block stilistika %}selected-service{% endblock %}

{% block details %}
<div class="row-1">
  <div class="services-details">
    <div class="container">
      <div class="row">
        <div class="span12">
          <span id="responsiveFlag"></span>
          <div class="block-slogan">
            <h2>Stilistika</h2>
            <div>
              <p>&nbsp;</p>
              <p>Üsna pea leiad siit listi stilistikateenuseid!</p>
              <p>&nbsp;</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}