{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Esileht{% endblock %}
{% block esileht %}active{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="span12"> 
        
            <div class="flexslider">
              <ul class="slides">
                <li> <img src="{% static 'img/index/banner-1.jpg' %}" alt="" > </li>
                <li> <img src="{% static 'img/index/banner-2.jpg' %}" alt="" > </li>
                <li> <img src="{% static 'img/index/banner-3.jpg' %}" alt="" > </li>
                <li> <img src="{% static 'img/index/banner-4.jpg' %}" alt="" > </li>
                <li> <img src="{% static 'img/index/banner-5.jpg' %}" alt="" > </li>
              </ul>
            </div>

        <span id="responsiveFlag"></span>
        <div class="block-slogan">
          <h2>Tere tulemast!</h2>
          <div>
            <p>DWL Agentuur ehk Days Worth Living Agency on Eesti kapitalil põhinev ettevõte, mis pakub erinevaid
              teenuseid nii era- kui äriettevõtetele. </p>
            <p><br/></p>
            <p>Teenuste kohta saad rohkem infot vastavatest rubriikidest – Üritused, Pildistamine, Stilistika ja PR
                teenused! </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--============================== content =================================-->

      <div id="content" class="content-extra"><div class="ic"></div>
      <div class="row-1">
        <div class="container">
          <div class="row">
            <ul class="thumbnails thumbnails-1">
              <li class="span3">
                <div class="thumbnail thumbnail-1 center">
                  <h3>Üritused</h3>
                  <a href="services/events.html"><img class="selectable-img" src="{% static 'img/index/events-thumbn.jpg' %}" alt=""></a>
                  <section> <strong>Koolitused, peod, sünnipäevad, tüdrukuteõhtud jms</strong> </section>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail thumbnail-1 center">
                  <h3>Pildistamine</h3>
                  <a href="services/photoshoots.html"><img class="selectable-img" src="{% static 'img/index/photography-thumbn.jpg' %}" alt=""></a>
                  <section> <strong>Fotograafi teenused kokkulepitud kohas Tallinnas</strong> </section>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail thumbnail-1 center">
                  <h3>Stilistika</h3>
                  <a href="services/stylistics.html"><img class="selectable-img" src="{% static 'img/index/stylistics-thumbn.jpg' %}" alt=""></a>
                  <section> <strong>Kehatüübi määratlemine, stilisti abi poodlemisel ja riiete valimisel jms</strong> </section>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail thumbnail-1 center">
                  <h3 class="title-1 extra">PR teenused</h3>
                  <a href="services/public-relations.html"><img class="selectable-img" src="{% static 'img/index/public-relations-thumbn.jpg' %}" alt=""></a>
                  <section> <strong>Pressiteated, artiklid, sotsiaalmeedia haldamine, meedianõustamine jms </strong> </section>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

{% endblock %}